---
import "../styles/global.css";
import HeaderNavigation from "../components/HeaderNavigation.astro";
import HeroCtaSection from "../components/HeroCtaSection.astro";
import CampaignSection from "../components/CampaignSection.astro";
import BehaviorsSection from "../components/BehaviorsSection.astro";
import FathersSection from "../components/FathersSection.astro";
import VideosSection from "../components/VideosSection.astro";
import MediaSection from "../components/MediaSection.astro";
import RadioSection from "../components/RadioSection.astro";
import PostersSection from "../components/PostersSection.astro";
import SourcesSection from "../components/SourcesSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>On Da Radę</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,700&family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="page" id="top">
      <HeaderNavigation />
      <HeroCtaSection />
      <CampaignSection />
      <BehaviorsSection />
      <FathersSection />
      <VideosSection />
      <MediaSection>
        <RadioSection slot="radio" />
        <PostersSection slot="posters" />
      </MediaSection>
      <SourcesSection />
    </div>
    <SiteFooter />
  </body>
</html>
